<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.michalkazior.simplemusicplayer" android:versionCode="4"
	android:versionName="1.2.1">
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="8"></uses-sdk>

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name="com.michalkazior.simplemusicplayer.Main"
			android:launchMode="singleTask" android:label="@string/activity_name_main">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="SongList"
			android:windowSoftInputMode="stateHidden" android:label="@string/activity_name_songlist"></activity>
		<service android:name="Player" android:label="@string/service_name_player"></service>
	</application>
</manifest>